ul {
  list-style-type: none;
}

li {
  display: inline-block;
  text-align: center;
  text-indent: 70px;
}

h1 {
  padding-left: 100px;
  font-size: xx-large;
}

#info {
  padding-left: 10px;
  padding-right: 10px;
}

#mark {
  padding-right: 10px;
}

.button {
  padding-top: 250px;
}

.donut {
  width: 400px;
  height: 50px;
  position: absolute;
  top: 55%;
  left: 35%;
}

mat-progress-bar {
  height: 10px;
}
